<div class="page-header">
  <h3>Listagem</h3>
</div>

<%= form_tag(index_path, method: :get) do %>
  <fieldset>
    <div class='col-lg-3'>
      <div class="form-group">
        <%= text_field_tag :username, params[:username], placeholder: 'Username', class: 'form-control' %>
        <span class="help-block">Entre com o username</span>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="form-group">
        <%= text_field_tag :inbox, params[:inbox], placeholder: 'Inbox', class: 'form-control' %>
        <span class="help-block">Entre com o valor para inbox</span>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="form-group">
        <%= text_field_tag :size, params[:inbox], placeholder: 'Size', class: 'form-control' %>
        <span class="help-block">Entre com o valor para size</span>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="form-group">
        <%= submit_tag 'Filtrar', class: 'btn' %>
      </div>
    </div>
  </fieldset>
<% end %>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Inbox</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |value| %>
      <tr>
        <td><%= value[InputFile.attributes[:username]] %></td>
        <td><%= value[InputFile.attributes[:inbox]] %></td>
        <td><%= value[InputFile.attributes[:size]] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='text-center'>
  <%= paginate @data %>
</div>
