<div class="page-header">
  <h3>Valor máximo</h3>
</div>

<%= form_tag(max_path, method: :get) do %>
  <fieldset>
    <div class='col-lg-4'>
      <div class="form-group">
        <%= select_tag :attribute, options_for_select(InputFile.attributes.keys, params[:attribute]), class: 'form-control' %>
        <span class="help-block">Escolha um atributo para ver o maior valor</span>
      </div>
    </div>
    <div class='col-lg-3'>
      <%= submit_tag 'Buscar', class: 'btn' %>
    </div>
  </fieldset>
<% end %>

<hr>

<% if params[:attribute].present? %>
  <p>A linha que contém o maior valor para <%= params[:attribute] %> é:</p>
  <br>
  <dl>
    <dt>Username</dt>
    <dd><%= @max[InputFile.attributes[:username]] %></dd>
    <br>
    <dt>Inbox</dt>
    <dd><%= @max[InputFile.attributes[:inbox]] %></dd>
    <br>
    <dt>Size</dt>
    <dd><%= @max[InputFile.attributes[:size]] %></dd>
  </dl>
<% end %>
